@model BudgetApp.Models.Budget

@{
    ViewBag.Title = "Details";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/highcharts")

<h2>Details</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

</div>
        <h4>Display pie chart using Highcharts in Asp.net C#</h4>
        <select id="ddlyear">
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
        </select>
        <button id="btnCreatePieChart">Show </button>
        <br />
        <div>
            <div id="container" style="width: 500px; height: 500px"></div>
        </div>
<div>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BudgetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
