@model IEnumerable<BudgetApp.Models.Budget>

@{
    ViewBag.Title = "Index";
}

<h2>Budgets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            Budget Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @item.Categories.Sum(c => c.BudgetCost)
        </td>
        <td>
            @Html.ActionLink("Add Category","Create","Categories") |
            @Html.ActionLink("Edit", "Edit", new { id=item.BudgetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BudgetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BudgetID })
        </td>
    </tr>
}

</table>
